@import "partials/normalize";
@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/layout";
@import "partials/fonts";
@import "partials/header";
@import "partials/footer";
@import "partials/list";
@import "partials/mininav";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $background-color;
  color: $text-color;
}

h3,
h4,
select {
  color: $text-color;
}

.load {
  text-align: center;
  .loadingIcon {
    width: 10%;
  }
}
