@font-face {
  font-family: "open_sansbold";
  src: url("../../fonts/webfontkit-20181019-002905/opensans-bold-webfont.woff2")
      format("woff2"),
    url("../../fonts/webfontkit-20181019-002905/opensans-bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sansbold_italic";
  src: url("../../fonts/webfontkit-20181019-002905/opensans-bolditalic-webfont.woff2")
      format("woff2"),
    url("../../fonts/webfontkit-20181019-002905/opensans-bolditalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sanslight";
  src: url("../../fonts/webfontkit-20181019-002905/opensans-light-webfont.woff2")
    format("woff2");
  src: url("../../fonts/webfontkit-20181019-002905/opensans-light-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sanslight_italic";
  src: url("../../fonts/webfontkit-20181019-002905/opensans-lightitalic-webfont.woff2")
      format("woff2"),
    url("../../fonts/webfontkit-20181019-002905/opensans-lightitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
