header {
  text-align: center;
  font-family: "open_sanslight";
  height: 130vw;
  @include tablet {
    @include flex(row, flex-start, center);
  }
  @include desktop {
    height: 50vw;
  }
  .logoContainer {
    margin-top: 40%;
    @include flex(row, center, center);
    @include tablet {
      width: 58%;
      margin-top: 20%;
      @include flex(column, null, null);
    }
    @include desktop {
      width: 24%;
      margin-top: 10%;
      @include flex(column, null, null);
    }
    img {
      width: 70vw;
      @include tablet {
        width: 40vw;
        align-self: flex-end;
      }
      @include desktop {
        width: 20vw;
        align-self: flex-end;
      }
    }
  }
  .sections {
    margin-top: 5%;
    @include tablet {
      margin-top: 15%;
    }
    @include desktop {
      margin: 15% 0 0 5%;
    }
    h3 {
      font-size: 1rem;
    }
    select {
      width: 6rem;
      border: 1px;
      color: black;
      font-size: 1rem;
      margin-top: 3%;
      z-index: 99;
    }
  }
}
