.list {
  @include flex(row, null, null);
  max-width: 100%;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;

  li {
    background-position: 50%;
    font-family: "open_sanslight";
    @include flex(column, flex-end, null);
    flex-basis: 100%;
    a {
      height: 100vw;
      @include flex(column, flex-end, null);
    }

    @include tablet {
      flex-basis: 50%;
      height: 25vw;
    }
    @include desktop {
      flex-basis: 25%;
      height: 25vw;
    }

    a {
      text-decoration: none;
      color: $text-color;
      transition:border-radius 0.3s ease 0.5s;
      .newstext {
        padding: 5px;
        width: 100%;
        @include desktop {
          display: none;
        }
        background-image: linear-gradient(
          rgba(0, 0, 0, 0.5) 0px,
          rgba(0, 0, 0, 0.5)
        );
      }
      @include desktop {
        &:hover .newstext {
          display: block;
          border-radius: 20px;
        }
      }
    }
  }
}
