.list {
  @include flex(row, null, null);
  max-width: 100%;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;

  li {
    background-position: 50%;
    font-family: "open_sanslight";
    @include flex(column, flex-end, null);
    flex-basis: 100%;
    a {
      height: 100vw;
      @include flex(column, flex-end, null);
    }

    @include tablet {
      flex-basis: 50%;
      height: 25vw;
    }
    @include desktop {
      flex-basis: 25%;
      height: 25vw;
    }

    a {
      text-decoration: none;
      color: $text-color;
    }
    img {
      height: 100vw;
      width: 100%;
      @include tablet {
        height: 25vw;
      }
    }
  }
}
