.mininav {
  height: 50vw;
  @include tablet {
    height: 25vw;
  }
  @include desktop {
    height: 15vw;
  }
  .logoContainer {
    height: 25vw;
    margin-top: 0;
    img {
      height: 20vw;
      @include tablet {
        height: 16vw;
      }
      @include desktop {
        height: 10vw;
      }
    }
  }
  .sections {
    @include tablet {
      margin-top: 0;
    }
  }
}
