.mininav {
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: "ease-in-out";
  height: 50vw;
  @include tablet {
    width: 50%;
    height: 18vw;
  }
  @include desktop {
    height: 10vw;
    width: 30%;
  }
  .logoContainer {
    height: 25vw;
    margin-top: 0;
    @include tablet {
      width: 45%;
    }
    img {
      height: 20vw;
      @include tablet {
        width: 50%;
        height: 16vw;
      }
      @include desktop {
        height: 6vw;
      }
    }
  }
  .sections {
    width: 60%;
    margin-left: 20%;
    @include tablet {
      width: 40%;
      margin-top: 0;
    }
    @include desktop {
      width: 20%;
    }
  }
}
